<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete user</title>
</head>
<body>
    <h3>to delete this user: <%= user.email %> , enter the password</h3>
    <form action="/user/<%= user.id %>?_method=DELETE" method="POST">
        <input type="text" name="password" placeholder="enter paswword to delete">
        <button>Delete</button>
    </form>
</body>
</html>